<section class="main-banner clearfix">
  <div class="banner-background" [ngStyle]="{ 'background-image': 'url(' + movie.banner_url + ')'}"></div>
  <div class="banner-wrapper">
    <div class="banner-featured-poster">
      <a [href]="'/movie/' + movie.title"><img class="featured-image" [src]="movie.poster_url" [alt]="movie.title"></a>
    </div>
    <div class="banner-content">
      <h2 class="title"><a [href]="'/movie/' + movie.title">{{movie.title}}</a></h2>
      <div class="ratings" [innerHTML]="getRatingStars() + ' ' + movie.vote_average + ' / 10'"></div>
      <p class="description">{{movie.overview}}</p>
      <p class="info"><a [href]="movie.homepage_url" target="_blank">Visit homepage</a> <span class="separator">|</span> {{movie.runtime}} mins <span class="separator">|</span> <span href="" class="genre" *ngFor="let genre of movie.genres; let last = last"><a href="/genre/{{genre.name}}">{{genre.name}}</a><span *ngIf="!last">,</span> </span><span class="separator">|</span> {{movie.release_date}}</p>
    </div>
  </div>
</section>
