/* You can add global styles to this file, and also import other style files */
$dark-primary: #252529;
$primary: #73e298;
$secondary: #8b8b9f;
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition:    $transition;
    -o-transition:      $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -webkit-transition-property: $property;
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -webkit-transition-property: $duration;
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -webkit-transition-timing-function: $timing;
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    transition-delay:         $delay;
}


* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;

  font-family: 'Open Sans', sans-serif;
}

.clearfix::before, .clearfix::after {
  display: table;

  content: " ";
}

.clearfix::after {
  clear: both;
}

.container {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

hr {
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #b4b4b4;
}

.logo {
  float: left;

  text-transform: uppercase;

  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 400;

  span {
    color: $primary;

    font-weight: 600;
  }
}

.main-header {
  display: flex;

  padding: 1.5em 0;

  background: white;

  .main-nav {
    float: right;

    padding-top: 1em;

    font-size: 1.2em;
    a {
      margin-left: 1em;

      text-decoration: none;

      color: $secondary;

      @include transition(all 0.3s ease);
      &:hover, &:active, &:focus {
        color: $primary;
      }
    }
  }

  .menu {
    display: none;
  }
}

.main-banner {
  position: relative;

  width: 100%;
  padding: 6.5em 0;

  .banner-background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(3px);
    -webkit-filter: blur(3px);
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';

      background: rgba(0, 0, 0, 0.7);
    }
  }


  .banner-wrapper {
    display: flex;

    width: 1000px;
    max-width: 90%;
    margin: 0 auto;

    justify-content: center;
    align-items: center;

    .banner-featured-poster {
      position: relative;

      float: left;

      width: 375px;
      .featured-image {
        width: 375px;
        max-width: 375px;

        border-radius: 0.5em;
        -webkit-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
        box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
      }
    }

    .banner-content {
      float: left;

      width: 500px;
      max-width: 100%;
      margin-left: 100px;
      .title {
        display: inline;

        cursor: pointer;

        font-size: 2.5em;
        font-weight: 700;

        a {
          text-decoration: none;

          color: white;

          @include transition(color 0.3s ease);
          &:hover, &:active, &:focus {
            color: lighten($secondary, 20%);
          }
        }
      }
      .ratings {
        display: inline;

        margin-left: 1em;

        color: white;
        i {
          margin: 0 0.15em;

          color: $primary;

          font-size: 1.35em;
        }
        .inactive {
          color: #48494d;
        }
      }
      .description {
        text-align: justify;

        color: #bbbebf;

        font-size: 1.2em;
        line-height: 2em;
      }
      .info {
        margin-top: 3em;

        color: white;

        font-size: 1em;
        font-weight: 700;
        line-height: 1.5em;
        span.separator {
          margin: 0 0.5em;
        }
        a {
          text-decoration: none;

          color: white;

          @include transition(all 0.3s ease);
          &:hover, &:active, &:focus {
            color: $secondary;
          }
        }
      }
    }
  }
}

.popular-movies, .popular-tvshows {
  padding: 5em 0;

  background: white;
  .container {
    width: 1920px;
    max-width: 95%;
  }
  header {
    padding: 0 0 1.5em 0;
    h2, .view-more {
      display: inline;
    }
    h2 {
      margin-left: 1.25%;

      font-size: 1.75em;
    }
    .view-more {
      float: right;

      margin: 0.75em 1.5% 0;

      font-size: 1em;

      a {
        text-decoration: none;

        color: $secondary;

        @include transition(all 0.3s ease);
        &:hover, &:focus, &:active {
          color: darken($primary, 35%);
        }
      }
    }
  }
}

.row {
  width: 100%;
  .post {
    float: left;

    width: 14.15%;
    margin: 2.5% 1.25% 1% 1.25%;
    img {
      width: 100%;
      max-width: 100%;

      border-radius: 0.5em;
      -webkit-box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.47);
      -moz-box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.47);
      box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.47);

      @include transition(box-shadow 0.3s ease);

      &:hover {
        -webkit-box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.77);
        -moz-box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.77);
        box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.77);
      }
    }
    a.title {
      margin: 1em 0 0 0;

      text-decoration: none;

      color: $dark-primary;

      font-size: 1.1em;

      @include transition(color 0.3s ease);
      &:hover, &:active, &:focus {
        color: darken($primary, 35%);
      }
    }
    .post-info {
      margin: 1em 0 0 0;

      color: $secondary;

      font-size: 1.25em;
    }
  }
}

.weekly-subscriber {
  padding: 5em 0;

  text-align: center;

  background: #2a2a2e;
  .subscriber-wrapper {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
  }
  h2 {
    color: white;

    font-size: 1.75em;
  }
  .form-subscription {
    margin-top: 3em;
    input[type="text"], input[type="email"] {
      width: 48%;
      height: 3.25em;
      margin: 0 0.5%;
      padding: 0.5em 1.25em;

      color: white;
      border: none;
      border-radius: 0.3em;
      outline: none;
      background: #404043;

      font-size: 0.8em;
    }
  }
  .group-input {
    display: block;
  }
}

.btn {
  margin-top: 2em;
  padding: 1em 4.5em;

  text-decoration: none;

  border: none;
  border-radius: 2em;
  outline: none;

  font-size: 0.9em;
  font-weight: 700;
  &.btn-primary {
    color: white;
    background: $primary;

    @include transition(all 0.3s ease);

    &:hover, &:active, &:focus {
      cursor: pointer;

      background: darken($primary, 5%);
      -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.47);
      -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.47);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.47);
    }
  }
}

.main-footer {
  padding: 2.5em 0;

  text-align: center;
  .logo {
    float: none;

    text-align: center;
  }
  .copyright {
    margin: 0;

    color: lighten($dark-primary, 50%);

    font-size: 0.8em;
  }
  .footer-links {
    display: inline;
    a {
      margin: 0 0.5em;

      text-decoration: none;

      color: $secondary;

      font-size: 0.8em;

      @include transition(color 0.3s ease);
      &:hover, &:focus, &:active {
        color: darken($primary, 45%);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .main-header {
    padding: 0.75em 0;
    .main-nav {
      position: absolute;

      transform: translateY(-50px);

      opacity: 0;

      @include transition(translateY 0.3s ease);

      &.active {
        z-index: 100;
        top: 7.5%;
        right: 3%;
        left: auto;

        width: 40%;
        padding-top: 0;

        transform: translateY(0px);

        opacity: 1;
        border-top: 1px solid #efefef;
        border-radius: 2px 2px 5px 5px;
        background: white;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.27);
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.27);
        a {
          display: block;

          margin-left: 0;
          padding: 1em 0;
          padding-left: 1.2em;

          border-bottom: 1px solid #e9e9e9;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    .menu {
      display: block;
      float: right;
      i {
        margin-top: 0.7em;

        color: $dark-primary;

        font-size: 1.5em;
      }
    }
  }

  .main-banner {
    padding: 3.5em 0;
    .banner-wrapper {
      .banner-content {
        margin-left: 20px;
        .description {
          line-height: 1.7em;
        }
        .info {
          margin-top: 1.5em;
        }
      }
    }
  }

  .popular-movies, .popular-tvshows {
    padding: 2.5em 0;
  }

  .row {
    .post {
      width: 30.82%;
      a.title {
        font-size: 1.05em;
      }
      .post-info {
        font-size: 0.95em;
      }
    }
  }

  .weekly-subscriber {
    padding: 2.5em 0;
  }

  .main-footer {
    padding: 1.5em 0;
    .logo {
      margin: 0.5em 0;
    }
  }
}

@media only screen and (max-width: 736px) {
  .main-header {
    .main-nav {
      &.active {
        top: 22%;
        right: 3%;
        width: 94%;
      }
    }
  }

  .main-banner {
    .banner-wrapper {
      .banner-featured-poster {
        width: 250px;
        .featured-image {
          width: 250px;
          max-width: 250px;
        }
      }
      .banner-content {
        .title {
          font-size: 1.75em;
        }
        .ratings {
          i {
            font-size: 1em;
          }
        }
        .description {
          font-size: 1.1em;
          line-height: 1.4em;
        }
        .info {
          font-size: 0.9em;
        }
      }
    }
  }

  .row {
    .post {
      width: 30.82%;
      .post-info {
        line-height: 0.8em;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .main-header {
    .container {
      .logo {
        font-size: 1.15em;
      }
      .menu {
        margin-top: -0.5em;
      }
    }
    .main-nav {
      &.active {
        top: 8.5%;
      }
    }
  }

  .main-banner {
    padding: 2.5em 0;
    .banner-wrapper {
      display: block;
      .banner-featured-poster {
        float: none;
        display: block;
        margin: 0 auto;
      }
      .banner-content {
        margin: 1em 0 0 0;
      }
    }
  }

  .row {
    .post {
      width: 80%;
      margin: 1em auto 0 auto;
      float: none;
    }
  }

  .popular-movies, .popular-tvshows {
    header {
      h2 {
        font-size: 1.5em;
      }
      .view-more {
        font-size: 0.8em;
        margin: 0.6em 1.5% 0 0;
      }
    }
  }

  .weekly-subscriber {
    padding: 2em 0;
    h2 {
      font-size: 1.35em;
    }
    .form-subscription {
      margin-top: 1em;
      input[type="text"], input[type="email"] {
        width: 90%;
        margin: 0 0 1em 0;
      }
    }
    .btn {
      margin-top: 0.5em;
    }
  }
}
