<section class="popular-tvshows clearfix">
  <header class="container clearfix">
    <h2>Popular TV Shows</h2>
    <p class="view-more"><a href="">View All TV Shows</a></p>
    <div class="row">
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 2 Seasons</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 2 Seasons</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 2 Seasons</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 2 Seasons</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 2 Seasons</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 2 Seasons</p>
      </div>
    </div>
  </header>
</section>
