<section class="popular-movies clearfix">
  <header class="container clearfix">
    <h2>Popular Movies</h2>
    <p class="view-more"><a href="">View All Movies</a></p>
    <div class="row">
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 109 Minutes</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 109 Minutes</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 109 Minutes</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 109 Minutes</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 109 Minutes</p>
      </div>
      <div class="post">
        <img src="" alt="">
        <h3 class="title">Name</h3>
        <p class="post-info">PG13 | 109 Minutes</p>
      </div>
    </div>
  </header>
</section>
<hr>
